@media print {
    body {
        min-width: fit-content;
    }
    article.homepage {display: none;}
    span.toggle_result_view {display: none;}
    body > header {display: none;}
    body > footer {display: none;}
    section.spreadsheets {
        margin: 0;
        padding: 0;
    }
    table.sticky_parts, table.full_view {
        font-size: .7em;
        border-collapse: collapse;
    }
    table.full_view td, table.full_view th {padding: .7em .2em;}
    table.sticky_parts thead th, table.sticky_parts tbody th, table.full_view thead th, table.full_view tbody th {position: static;}
}